﻿<script type="text/javascript" src="~/Scripts/angular.min.js"></script>

<script type="text/javascript" src="~/angularjs/movieangular.js"></script>
<script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>

<div ng-controller="movieController">
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<a href="#" ng-click="showedit=true;">Add new movie</a>
		</div>
	</div>
	<table class="table" ng-show="!showedit && !showAddProducer" ng-init="getAllmovies()">
		
		<tr>
			<th>
				Name
			</th>
			<th>
				Release Date
			</th>
			<th>
				Plot
			</th>
			<th>
				Poster
			</th>
			<th>
				ProducerName
			</th>

			<th>Actors</th>
		</tr>


		<tr ng-repeat="item in movies">
			<td>
				{{item.moviename}}
			</td>
			<td>
				{{item.releasedate}}
			</td>
			<td>
				{{item.plot}}
			</td>
			<td>
				{{item.poster}}
			</td>
			<td>
				{{item.producername}}
			</td>
			<td>
				{{item.actors}}
			</td>
			<td>
				<a href="#" ng-click="getMovieDetail(item.movieid)">Edit</a>
			</td>
		</tr>


	</table>

	<div class="form-horizontal" ng-form="MovieForm" ng-show="showedit" ng-init="getAllProducers();getAllActors()">
		<h4>Movie</h4>
		<hr />

		<div class="form-group">
			<label class="control-label col-md-2">Name</label>
			<div class="col-md-10">
				<input class="form-control" name="name" ng-model="selectedmovie.Name" required />

				<span ng-show="MovieForm.name.$touched && MovieForm.name.$error.required">Name is required.</span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Plot</label>
			<div class="col-md-10">
				<input class="form-control" ng-model="selectedmovie.Plot" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Release Date</label>
			<div class="col-md-10">
				<input class="form-control" ng-model="selectedmovie.ReleaseDate" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Poster</label>
			<div class="col-md-10">
				<input class="form-control" type="file" ng-model="selectedmovie.Poster" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Producer name</label>
			<div class="col-md-10">
				<select class="form-control" ng-model="selectedmovie.ProducerId">
					<option ng-repeat="item in producers" ng-selected="item.ProducerId==selectedmovie.ProducerId" value="{{item.ProducerId}}">{{item.Name}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Actors Name</label>

			<span ng-repeat="item in selectedmovie.MovieActors">{{item.Name}}<i ng-show="selectedmovie.MovieActors.length>1">,</i></span>

		</div>
		<div>
			<label class="control-label col-md-2">Select Actors</label>
			<div class="col-md-10">
				<select class="form-control" name="actors"
						multiple="" required ng-model="selectedmovie.MovieActors" ng-options="item as item.Name for item in actors"></select>
				<span ng-show="MovieForm.actors.$touched && MovieForm.actors.$error.required">Actor is required.</span>
			</div>

		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Submit" ng-disabled="MovieForm.$invalid" class="btn btn-default" ng-click="saveMovie()" />

			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<a href="#" ng-click="AddNewActorProducer()">Add new Actor/Producer</a>
			</div>
		</div>


	</div>

	<div class="form-horizontal" ng-show="showAddProducer" ng-form="AddForm" ng-init="getSexdetail()">
		<h4>Add Actor/Producer</h4>
		<hr />

		<div class="form-group">
			<label class="control-label col-md-2">Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" name="apname" ng-model="addActorProducer.Name" required />
				<span ng-show="AddForm.apname.$touched && AddForm.apname.$error.required">Name is required.</span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">DOB</label>
			<div class="col-md-10">
				<input type="text" class="form-control" ng-model="addActorProducer.DOB" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Bio data</label>
			<div class="col-md-10">
				<input type="text" class="form-control" ng-model="addActorProducer.BioData" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Sex</label>
			<div class="col-md-10">
				<select>
					<option ng-repeat="item in sexes" ng-model="addActorProducer.SexId" value="{{item.SexId}}">{{item.Sex}}</option>
				</select>
			</div>
		</div>



		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Add as Actor" class="btn btn-default" ng-disabled="AddForm.$invalid" ng-click="addActor()" />
				<input type="submit" value="Add as Producer" class="btn btn-default" ng-disabled="AddForm.$invalid" ng-click="addProducer()" />
				<input type="submit" value="Cancel" class="btn btn-default" ng-click="cancel()" />
			</div>
		</div>
	</div>
</div>

<script>
	movieManager.init();
</script>
