﻿<div class="jumbotron">
    <h1>DeltaX MovieDB</h1>
	<p class="lead"> DeltaX movie db assignment</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
      DeltaX movie db assignment
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        
    </div>
</div>
